<h1 class="sleeze">Halls of Sleaze</h1>
<h4 class="sleeze">To narrow your search to a particular branch of government please select from our most excellent choices below</h4>

<div class="wrapper">
<ul class="flex cards">


<div class="container scumbag-cart-item">
  <div class="row">
    <div class="col-xs-6">
      <li><h4>Mostly old, white, men</h4>
        <a href='/senate'><img src="http://images.gawker.com/exm22kxkxcvra77tubll/original.jpg" alt="The Senate" style="width:318px;height:180px;"></a></li>
    </div>
    <div class="col-xs-6">
      <li><h4>Psst... Hey Buddy, wanna buy a Supreme Court Justice?</h4>
        <a href='/judicial'><img src="http://cdn.history.com/sites/2/2015/03/history-lists-7-things-you-might-not-know-about-the-us-supreme-court_iStock_000003999162Large-E.jpeg" alt="The Supreme Court" style="width:318px;height:180,px;"></a></li>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <li><h4>The Cheeto in Chief</h4>
        <a href='/executive'><img src="http://cdn.history.com/sites/2/2015/03/hungry-history-cooking-for-the-commander-in-chief-20th-century-white-house-chefs-iStock_000004638435Medium-E.jpeg" alt="The Executive" style="width:318px;height:180px;"></a></li>
    </div>
    <div class="col-xs-6">
      <li><h4>Cheaper than Senators!</h4>
        <a href='/house'><img src="http://images.gawker.com/exm22kxkxcvra77tubll/original.jpg" alt="The House" style="width:318px;height:180,px;"></a></li>
    </div>
  </div>
</div>



</ul>
</div>
