
<div class="container">
  <h1>Scumbags Admin View</h1>
  <%= button_to "Create New Scumbag", new_admin_scumbag_path, method: :get%><br/>
  <div class="row">
    <%= render partial: "partials/grid_scumbag", collection: @scumbags, as: :scumbag %>
  </div>
</div>
