<% @officials.each do |official| %>
  <div class="">
      <%= image_tag(official.img_path) %>
    <span>
      <%= official.name %><br>
      <%= official.price %>
    </span>
  </div>
<% end %>

<div class="">

</div>
