<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>Lobby Shoppe</a>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li class="welcome-msg">Welcome, <%=current_user.username%> </li>
        <li><div class="dropdown hamburger">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-bars fa-2x"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/branches">Branches</a></li>
              <li><a href="/scumbags">All Scumbags (except bernie)</a></li>
              <li><a href="/cart">Cart</a></li>
              <li><a href="#">Your Past Orders</a></li>
              <li><a href="#">Log Out</a></li>
             </ul>
          </div></li>

              <li><a href="/cart" id="cart"> <span class="fa-stack fa-1x cart"><i class="fa fa-shopping-cart fa-stack-2x"></i><p class="fa-stack-1x cart-quantity"><%=@cart.total_count%></p></span></a></li>
              <li><%=button_to "Logout", logout_path, method: :delete, class:"btn btn-primary"%></li>
    </ul>

  </div>
</nav>
