<h1>All Scumbags</h1>

<% @scumbags.each do |scumbag| %>
  <div class="">
    <h5><%= scumbag.name %> <%= scumbag.party_abbreviation %></h5>
    <p>Price: $<%= scumbag.price %></p>
    <%= button_to "Add to Cart", carts_path(scumbag_id: scumbag.id) %>
  </div>
<% end %>