<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lobby Shoppe</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="top-fuckers">
  <h2>The sleaziest of the sleazy for 2016*</h2>
  <ol>
    <li class="sell-outs">Clinton, Hillary (D)                   $2,084,162</li>
    <li class="sell-outs">Van Hollen, Chris (D-MD)      House	   $540,041</li>
    <li class="sell-outs">Rubio, Marco (R-FL)	          Senate	 $495,718</li>
    <li class="sell-outs">Bush, Jeb (R)		                       $432,110</li>
    <li class="sell-outs">Schumer, Charles E (D-NY)	    Senate	 $425,472</li>
    <li class="sell-outs">Ryan, Paul (R-WI)	            House	   $407,532</li>
    <li class="sell-outs">Bennet, Michael F (D-CO)	    Senate	 $398,966</li>
    <li class="sell-outs">Blunt, Roy (R-MO)	            Senate	 $365,120</li>
  </ol>
  <p><a href='https://www.opensecrets.org/industries/recips.php?ind=K02++'>* source</a></p>
</div>

<br>
<br>

<div class="container scumbag-cart-item">
  <div class="row">
    <div class="col-xs-6">
      <h3><a href='/scumbags'>Find Individual Scumbags</a></h3>
    </div>
    <div class="col-xs-6">
      <h3><a href='/branches'>Sort by Branch of Government</a></h3>
    </div>
  </div>
</div>

</body>
</html>
