.status-table {
  background-color: mediumspringgreen;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  height: 30px;
  font
}

.table-width {
  max-width: 40%;
  text-align: center;
}

.table-width p {
  font-size: 15px !important;
}

.table-margin {
  margin-top: 20px;
}
