/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 */



 #DCbody {
    background-image: url("DC.jpg");
    background-color: #cccccc;
    background-size: 100%;
}

#SCbody {
   background-image: url("US_Supreme_Court.jpg");
   background-color: #cccccc;
   background-size: 100%;
}

div#SENbody
{
   position: fixed;
   top: 0px;
   left: 0px;
 }

 div#SENbody img
 {
   width: 100%;
   height: 100%;
  }
body,html
{
  padding: 0px;
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
 }

/*#SENbody {
   background-image: url("US_Capitol.jpg");
   background-color: #cccccc;
   background-size: 100%;
}*/

#HOUSEbody {
   background-image: url("US_Capitol.jpg");
   background-color: #cccccc;
   background-size: 100%;
}

#WHbody {
   background-image: url("White_House.jpg");
   background-color: #cccccc;
   background-size: 100%;
}

.scumbag-cart-item {
  text-align: center;
}

.line-separator {
margin-top: 20px;
margin-bottom: 20px;
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}

.btn-xs {
    padding: 4px 8px;
    font-size: 8px;
    border-radius: 3px;
}
