.scumbag-cart-item {
  text-align: center;
}

.line-separator {
margin-top: 20px;
margin-bottom: 20px;
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}

.btn-xs {
    padding: 4px 8px;
    font-size: 8px;
    border-radius: 3px;
}

#cart-img {
  margin-bottom: 20px;
}

.cart-thumb {
  border-radius: 15px;
}